<mat-toolbar color="accent">hai <span class="example-spacer"></span><button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  <mat-icon>favorite</mat-icon>
</button></mat-toolbar>

<button  mat-raised-button routerLink="dog" color="primary" >dog</button>&nbsp;
<button mat-raised-button routerLink="cat" color="primary">cat</button>&nbsp;
<button mat-raised-button routerLink="rat" color="primary">rat</button>
<br><hr>
<router-outlet></router-outlet>