<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hendry the scratcher</mat-card-title>
      <mat-card-subtitle>Cat Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP0l1Z-cF05PVQvCdc-0yjpAcfi7GtqHlqBQ&usqp=CAU" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The cat (Felis catus) is a domestic species of small carnivorous mammal.[1][2] It is the only domesticated species in the family Felidae and is commonly referred to as the domestic cat or house cat to distinguish it from the wild members of the family.[4] A cat can either be a house cat, a farm cat, or a feral cat; the latter ranges freely and avoids human contact.[5] Domestic cats are valued by humans for companionship and their ability to kill rodents. About 60 cat breeds are recognized by various cat registries.[6]
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button onclick="alert('you liked cat')">LIKE</button>
      <button mat-button onclick="alert('mr.cat dont like sharing his pic')">SHARE</button>
    </mat-card-actions>
  </mat-card>

